.btn{
    width:400px;
    height: 100px;

    margin-top: 20px;
}

#level_description_exp{
    margin: 50px;
    font-size: 20px;
    font-weight: bolder;
}

#level_description{
    display: grid;
    grid-template-rows: 265px 265px;
}