
.container{/*container 범위 테스트용*/
    border-style: solid;
    border-width: 1px;


}

body{
    text-align: center;
}

#main_part{
    width: 600px;
    
    display: inline-block;
}

#hang_man_img_part{
    height: 200px;
    
}

#target_word_tag_part{
    height: 100px;

}

#key_board{
    text-align: center;
}

.key_pad{
    width: 43px;
    height: 58px;

    font-size: 13.3px;
    font-weight: bolder;

    border-width: 0px;
    background-color: #D3D6DA;
    border-radius: 4px;

    margin: 2px;
}

#input_tag{
    text-align: center;
}

.input_tile{
    display: inline-block;

    width: 50px;
    height: 50px;

    border-style: solid;
    border-width: 2px;
    border-color: #D3D6DA;

    margin: 5px;
    
    font-size: 30px;
    font-weight: bolder;

    color: white;
}

/*초록 rgb(108, 168, 104)*/
